a {
	color: currentColor;
	text-decoration: none;
}

.navbar-container {
	display: flex;
	max-width: 1280px;
	margin: auto;
	margin-left: auto;
	padding: 24px 40px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
}

nav {
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 0;
	flex: 0 auto;

}

.items {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	flex: 1;
}

.center {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-flex: 1;
	flex: 1;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
}

.right {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	grid-column-gap: 24px;
}

span {
	white-space: pre;
	font-weight: 900;
	font-size: 1.2rem;
}

.item:hover {
	background: #F8A347;
	background: linear-gradient(to right, #F8A347 10%, #B6162E 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transform: scale(1.08);
	transition: all 0.2s ease;
}