<header class="nav-container">
	<div class="navbar-container">
		<a href="#" id="logo">
			<div class="border-orange-strong"></div>
			<div class="border-orange-strong"></div>
			<span>Thomas Pufahl</span>
		</a>
		<nav>
			<div class="items">
				<div class="center">
					<a href="#" class="item">
						<!-- <div class="border-orange-strong"></div> -->
						Projects
					</a>
					<a href="#" class="item">Resume</a>
					<a href="#" class="item">Contact</a>
				</div>
				<div class="right">
					<a href="#" class="item">Login</a>
					<a href="#" class="item">Register</a>
				</div>
			</div>
		</nav>
	</div>
	<div class="border-orange-strong"></div>
</header>